## 두 개 이상 컬럼 그룹화 해서 특정 값 구하기

In [ ]:
### 6개월 간격으로 Province/State에 있는 확진자 케이스의 평균 수치 확인하기

df.groupby([pd.Grouper(freq='6m'), 'Province/State'])['Case'].mean()

Date        Province/State
2020-01-31  Illinois              0.000000
            Indiana               0.000000
            Puerto Rico           0.000000
2020-07-31  Illinois            488.322727
            Indiana             222.080745
            Puerto Rico          18.608187
2021-01-31  Illinois           4996.807487
            Indiana            2683.175532
            Puerto Rico         526.294798
2021-07-31  Illinois           9314.986486
            Indiana            6138.547619
            Puerto Rico        1503.891156
2022-01-31  Illinois          32778.534653
            Indiana           13475.709677
            Puerto Rico        3225.673077
2022-07-31  Illinois          43229.678161
            Indiana           17653.965909
            Puerto Rico        5938.734177
Name: Case, dtype: float64